/*Index page content*/

    /*Layout*/
    .top-page-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        background-image: url(../../../public/TAMED_img/Image[303].jpeg);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: 50% 20%;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.097);
        transition: 0.3s;
    }
    
    .img-container{
        display: grid;
        grid-template-columns: repeat(2,50%);
        row-gap: 1em;
        justify-items: center;
        width: 100%;
        margin-top: 1em;
    }

    .img-container > a{
        width: 85%;
    }
    
    .img-container > a > img{
        width: 80%;
        box-shadow: 0 15px 20px rgb(182, 141, 53);
        animation: ShiningGold;
        animation-timing-function: ease-in;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
        animation-duration: 3s;
    }
    
    #prodct-img2{
        border-radius: 15px;
        animation: LoadinIn;
        animation-duration: 0.6s;
    }
    
    #prodct-img1{
        border-radius: 20px;
        animation: LoadinIn;
        animation-duration: 0.6s;
    }
    
    /*About section*/

    .container{
        text-align: center;
        margin: 0 auto;
        padding: .5em;
        color: black;
        font-size: 1.05rem;
        animation: LoadinIn;
        animation-duration: 0.6s;
        font-family: 'Bebas Neue';
    }

    .text__border{
        padding: .5em;
        border: 2px solid rgb(182, 141, 53);
    }

    .menu__about{
        height: 20vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url(../../../public/TAMED_img/pexels-niragire-tresor-11266949.jpg);
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
        background-color: rgba(38, 38, 38, 0.702);
    }

    .icons-container{
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        color: white;
    }

    .icons{
        text-align: center;
    }

    .icons > i {
        padding: .5em;
    }

    .menu__about > .container:first-of-type{
        width: 100%;
        padding: 1em;
        color: black;
        background-color: rgb(255, 255, 255);
    }
    
    @keyframes ShiningGold{
    
        0%{
            box-shadow: 0 5px 10px rgb(182, 141, 53);
        }
    
        100%{
            box-shadow: 0 15px 20px rgb(182, 141, 53);
        }
    }

    .teamImg__container{
        height: 25vh;
        margin-top: 1em;
        background-image: url(.../../../../../public/TAMED_img/seb_Jl2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .icon__border{
        width: 70%;
        margin: 0 auto;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        text-align: center;
    }
    
        /*Typography*/
    .icons > a{
        color: white;
        padding: .5em;
    }

    .top-message{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-welcome{
        margin: 0;
        margin-bottom: .5em;
        color: white;
        letter-spacing: 2px;
        font-size: 2.5rem;
    }
    
    #prodct-desc1{
        align-self: center;
        justify-self: flex-start;
        text-align: center;
        border-bottom: 3px solid rgb(182, 141, 53);
        font-size: 1.4rem;
        transition: 0.3s;
    }
    
    #prodct-desc2{
        align-self: center;
        justify-self: flex-end;
        text-align: center;
        font-size: 1.4rem;
        border-bottom: 3px solid rgb(182, 141, 53);
        transition: 0.3s;
    }
    
    #color-container{
        width: 80%;
        height: 2px;
        margin: 2em auto;
        background-color: rgb(182, 141, 53);
    }
    
    .text__border > h3, .mission__container > h3{
        margin-bottom: .5em;
        font-size: 2.2rem;
        font-weight: 550;
        letter-spacing: 1px;
        color: black;
    }
    
    .text__border > span, .mission__container > span{
        color: rgb(200, 199, 198);
        font-size: 1.4rem;
    }
    
    #imgGrid__title{
        width: 75%;
        /* text-align: center; */
        margin: 1em auto;
        border-bottom: 2px solid rgb(182, 141, 53);
        font-size: 1.2rem;
        color: rgb(182, 141, 53);
    }
    
        /*Buttons*/
    .shop-now-btn{
        /* margin: .5em 0; */
        padding: .5em;
        border-radius: 15px;
        border: none;
        font-family: 'Bebas Neue';
        background-color: rgb(182, 141, 53);
    }
    
    .shop-now-btn > a{
        color: white;
        font-size: 1.1rem;
        letter-spacing: 1px;
    }



@media(min-width: 765px){
    /*Index page Content*/
        /*Typography*/

        .main-welcome{
            font-size: 5rem;
        }

        .shop-now-btn > a{
            font-size: 1.8rem;
        }

        #prodct-desc1{
            font-size: 2.2rem;
        }

        #prodct-desc2{
            font-size: 2.2rem;
        }

        .text__border >h3{
            font-size: 2.6rem;
        }

        .text__border > span{
            font-size: 2.4rem;
        }

        .container{
            font-size: 1.5rem;
        }

        .icons-container{
            font-size: 2rem;
        }

        #imgGrid__title{
            font-size: 1.8rem;
        }
}

@media(min-width: 1024px){
    /*Index page content*/
        
        /*Layout*/

        .menu__about{
            height: 35vh;
        }

        .icon__border{
            width: 50%;
        }

        .container{
            width: 50%;
            padding: 1em;
            font-size: 1.5rem;
        }

        .bottom__container{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 1em 1em 0 1em;
        }

        .teamImg__container{
            height: 40vh;
            width: 50%;
        }

        .img-container > a > img{
            width: 70%;
        }

        /*Typography*/
        .main-welcome{
            font-size: 6rem;
        }

        #prodct-desc1{
            font-size: 2rem;
        }

        #prodct-desc2{
            font-size: 2rem;
        }

        #color-container{
            width: 60%;
            height: 3px;
        }

        .icons-container{
            font-size: 1.8rem;
        }

        /*Buttons*/
        .shop-now-btn > a{
            font-size: 2rem;
        }
}

@media(min-width: 1281px){
    /*Index page*/
    .menu__about > .container:first-of-type{
        width: 40%;
        margin-right: 10em;
    }

    .menu__team-pic > .container:nth-child(2){
        width: 70%;
        align-self: flex-start;
        border-radius: 15px;
    }

    .mission__container{
        width: 45%;
        padding: 1em;
        margin: 2em auto;
        font-size: 1.4rem;
    }

    .mission__container > h3{
        font-size: 3rem;
    }

    .mission__container > span{
        font-size: 2rem;
    }

    .img-container{
        width: 60%;
        margin: 1.5em auto;
    }

    .img-container > a > img{
        width: 70%;
    }

    #prodct-img1{
        margin-left: 10em;
        margin-right: 2em;
    }

    #prodct-img2{
        margin-right: 10em;
        margin-left: 2em;
    }

    #team-pic{
        width: 60%;
        margin-right: 20em;
    }

    .icons-container{
        width: 25%;
    }

    #imgGrid__title{
        width: 60%;
        font-size: 2rem;
        border-bottom: 3px solid rgb(182, 141, 53);
    }
}