/*Nav bar*/

    /*Layout*/
    .navbar{
        position: fixed;
        left: 0;
        right: 0;
        top:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
        color: white;
        z-index: 2;
        transition: 0.6s;
    }

    .navbar.sticky{
        position: fixed;
        
        color: black;
        background-color: white;
        transition: 0.6s;
    }
    
    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: -200px;
        left: 0;
        background-color: transparent;
        transition: 0.2s;
        z-index: 30;
    }
    
    .nav-links.active{
        z-index: 2;
        top: 62px;
        transition: 0.4s;
        background-color: white;
    }
    
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links li{
        list-style: none;
        padding: 1em 0 1em 0;
    }
    
        /*Typography*/

    .current-page{
        border-bottom: 3px solid rgb(182, 141, 53);
    }

    .brand-title{
        margin-left: .5em;
        font-size: 3rem;
    }
    
    .brand-title > a{
        color: white;
        transition: 0.3s;
    }

    .brand-title > a.sticky{
        color: black;
    }
    
    .brand-title > a:hover{
        color:rgb(182, 141, 53);
    }
    
    .nav-links li a{
        color: rgb(0, 0, 0);
        letter-spacing: 1px;
        font-size: 1.3rem;
        text-decoration: none;
    }

    .nav-links li a.sticky{
        color: black;
    }
    
    .nav-links li a:active{
        color:rgb(182, 141, 53);
    }
    
        /*Buttons*/
    .nav-toggle-btn{
        position: absolute;
        width: 35px;
        height: 29px;
        right: 0;
        
        margin: .79em 1.1em 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .ham-bar{
        position: relative;
        width: 100%;
        height: 4px;
        background-color: black;
        border-radius: 5px;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    
    .nav-toggle-btn span:nth-child(1){
        transform-origin: left center;
    }
    
    .nav-toggle-btn span:nth-child(2){
        transform-origin: left center;
    }
    
    .nav-toggle-btn span:nth-child(3){
        transform-origin: left center;
    }
    
    .nav-toggle-btn.open span:nth-child(1){
        background-color:rgb(182, 141, 53);
        transform: rotate(45deg);
    }
    
    .nav-toggle-btn.open span:nth-child(2){
        width: 0%;
        opacity: 0;
    }
    
    .nav-toggle-btn.open span:nth-child(3){
        background-color:rgb(182, 141, 53);
        transform:rotate(-45deg);
    }

    /*Tablets*/
    @media(min-width: 765px){
        /*Nav*/
        /*Layout*/
        .nav-toggle-btn{
            top: 15px;
            margin: 0.79em 1.3em 0 0;
        }

        .nav-links.active{
            top: 70px;
        }

        /*Typography*/
        .brand-title{
            font-size: 4rem;
        }

        .nav-links{
            font-size: 1.2rem;
        }    
    }

    /*Low resolution Desktops*/
    @media (min-width: 1024px){
                /*Nav*/

            /*Layout*/
        .navbar{
            flex-direction: row;
        }

        .nav-links{
            position: static;
            width: 30%;
            flex-direction: row;
        }

        .nav-links ul{
            flex-direction: row;
            width: 100%;
        }

        .nav-links li{
            padding: 1em 1em 1em 2em;
        }

            /*Typography*/
        .brand-title{
            font-size: 5rem;
        }

        .nav-links li a{
            font-size: 2rem;
        }

        .nav-links li a:hover{
            color: rgb(182, 141, 53);
            transition: all 0.3s ease;
        }

            /*Buttons*/
        .nav-toggle-btn{
            display: none;
        }
    }

    /*High resolution desktops*/
    @media (min-width: 1281px){
            /*Nav*/
        .nav-links li{
            margin-left: 2em;
        }
    }