
/*Shop page*/
    /*Layout*/
    .cart-i-container{
        height: 20vh;
        display: flex;
        justify-content: flex-end;
        padding: 1em;
    }
    
    .shop-container{
        max-width: 80%;
        display: flex;
        column-gap: 2.5em;
        row-gap: 4em;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: .5em auto 1.5em auto;
        font-family: 'Bebas Neue';
    }
    
    .product-container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 360px;
        align-self: normal;
        background: #4a49492d;
        border: .2px solid rgba(185, 185, 185, 0.438);
        border-radius: 15px;
        backdrop-filter:blur(5px);
        filter:drop-shadow(0 1.25rem 1.25rem rgba(255, 255, 255, 0.623));
        padding: 1em;
        animation: LoadinIn;
        animation-duration: 0.3s;
        transition: all 0.3s ease;
    }
    
    .product-container > img{
        border-radius: 15px;
        border: none;
        width: 100%;
        height: 250px;
        transition: 0.3s;
    }
    
    .seeMore{
        transform: scale(1.3);
        transition: all 0.3s;
    }
    
    .add-item-container{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.3rem;
    }
    
        /*Typography*/
    .shop-item-title{
        font-size: 2rem;
        background-color: black;
        color: white;
        min-width: 40%;
        border-radius: 15px;
        padding:.2em .2em 0 .2em;
        margin-bottom: .5em;
    }
    
    .cart-i-container i{
        align-self: center;
        font-size: 1.5rem;
        color: rgb(182, 141, 53);
    }
    
    .product-container > p{
        padding: .5em;
        margin-top: .3em;
        font-size: 1.05rem;
        color:black;
        border-bottom: 3px solid rgb(182, 141, 53);
    }
    
    .product-container > h6{
        color: white;
        font-size: 2rem;
        margin: .3em 0 .2em .2em;
    }
    
        /*Buttons*/
    .prodct-btn{
        width: 100px;
        padding: .05em;
        border-radius: 15px;
        border: 2px solid white;
        font-family: 'Bebas Neue';
        font-size: 1.1rem;
        color: black;
        background-color: rgb(182, 141, 53);
        cursor: pointer;
    }

    .more-btn{
        width: 80px;
        margin-top: .5em;
        padding: .05em;
        border-radius: 15px;
        border: 2px solid white;
        font-family: 'Bebas Neue';
        font-size: 1.1rem;
        color: black;
        background-color: rgb(182, 141, 53);
        cursor: pointer;
    }

    .more-btn > a{
        color: black;
    }

    button{
        cursor: pointer;
    }
    
    /**
        Snipcart CSS Overides for customizations
    **/
    
    /*General styling for Snipcart*/
    .snipcart *{
        font-family: 'Bebas Neue';
    }
    
    :root{
        --bgColor-buttonSecondary-hover: rgba(182, 142, 40, 0.735);
        --color-buttonSecondary-hover: black;
        --shadow-buttonPrimary-active: rgb(182, 141, 40);
        --color-link-hover: rgb(182, 141, 40);
        --shadow-input-focus: rgb(182, 141, 40);
        --borderColor-input-checked: rgb(182, 141, 40);
        --borderColor-input-focus: rgb(182, 141, 40);
        --color-inputIcon-focus: rgb(182, 141, 40);
    }
    
    
    
    /*pop-up cart*/
    
    .snipcart-button-primary{
        background-color: rgb(182, 141, 40);
    }
    
    .snipcart-button-primary:hover{
        background-color: white;
        color: black;
        border: 2px solid rgb(182, 141, 40);
    }
    
    .snipcart-button-link{
        color: black;
    }
    
    .snipcart__box--badge, .snipcart__font--subtitle, .snipcart__font--xlarge{
        font-size: 24px;
    }
    
    .snipcart__icon--medium{
        color: black;
        cursor: pointer;
    }
    
    .snipcart-item-line__container{
        padding: 15px;
    }
    
    .snipcart-item-line--cart-edit{
        border-bottom: 2px solid rgb(182, 141, 40);
    }
    
    .snipcart-item-line--cart-edit .snipcart-item-line__image{
        max-width: 50px;
        border-radius: 10px;
    }
    
    .snipcart-item-quantity__label{
        letter-spacing: 1px;
        font-size: 1.1em;
    }
    
    .snipcart-item-quantity__quantity{
        border: 1px solid black;
    }
    
    .snipcart-item-quantity__quantity:active{
        border: 1px solid black;
    }
    
    .snipcart-item-quantity__quantity:hover{
        border: 2px solid black;
    }
    
    .snipcart-button-icon{
        color:rgb(255, 255, 255);
        background-color: rgb(182, 141, 40);
    }
    
    .snipcart-button-icon:hover{
        color:rgb(182, 141, 40);
        background-color: rgba(215, 213, 213, 0.598);
    }
    
    .snipcart__font--regular{
        font-size: 1.1em;
    }
    
    .snipcart-cart-header .snipcart-modal__close-icon, .snipcart-cart-header__icon{
        color: rgb(182, 141, 40);
    }
    
    .snipcart-modal__close-title{
        letter-spacing: 1px;
    }
    
    /*Checkout*/
    
    .snipcart__box--badge-highlight{
        color: rgb(182, 141, 40);
        border: 2px solid rgb(182, 141, 40);
        background-color: white;
    }
    
    .snipcart-input:hover{
        border: 1px solid rgb(182, 141, 40);
    }
    
    .snipcart-form__select:hover{
        border: 1px solid rgb(182, 141, 40);
    }
    
    .snipcart-form_label{
        letter-spacing: 1px;
        font-size: 20px;
    }
    
    .snipcart__icon{
        color: rgb(182, 141, 40);
    }
    
    .snipcart-button-secondary{
        color: rgb(182, 141, 40);
        background-color: white;
        border: 2px solid black;
    }

@media (min-width: 765px){
    /*Shopping page content*/
        /*Typography*/
    .cart-i-container i{
        font-size: 2rem;
    }
}

@media (min-width: 1024px){
    /*Shop page*/
        /*Layout*/
    .cart-i-container{
        height: 15vh;
        margin-right: 2em;
        font-size: 1.6rem;
    }
    
    .seeMore{
        transform: scale(1.5);
    }
}

@media (min-width: 1281px) {
    .cart-i-container{
        height: 25vh;
    }
}